*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif; 
}


.admin-login-container{
    background-color: aquamarine;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-login-div{
    width: 50vw;
    max-width: 500px;
    height: 60vh;
    max-height: 700px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: aliceblue;
    
    /* border: 2px solid red; */
}

.login-head-container{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0a5a90;
    /* border: 2px solid green; */
}


.login-text{
    /* margin: 55% 0 0 0; */
    padding: 0;
    font-size: 40px;
    margin: 0;
    color: aliceblue;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 800;
    /* font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif; */
}
.underline{
    width: 100%;
    height: 2px;
    background-color: white;
    margin: 0;

}

.login-body{
    width: 50%;
    padding: 40px 0;

}

/* .admin-page-container-style{ 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'poppins';
    background: radial-gradient(circle, #832de2, #4a00e0);
} */

.login-page{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'poppins';
    background: radial-gradient(circle, #832de2, #4a00e0);

}



.login-input{
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    background: transparent;
    
}
.input-underline{
    width: 100%;
    height: 2px;
    background-color: #0a5a90;
    
}

.login-button-style{
    margin-top: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-button{
    border: none;
    background-color: #0a5a90;
    padding: 10px;
    border-radius: 10%;
    color: aliceblue;
}

input{
    outline: none;
    border: none;
    color: #0a5a90;
}




.admin-input{
    display: flex;
    justify-content: center;
}

.admin-page-container-style{
    height: 100vh;
    background: radial-gradient(circle, #0a5a90 0%,rgb(75, 180, 183) 0%, rgb(15, 104, 104) 80%);
}

.admin-input div{
    margin: 10px 20px;
}

.round-input select{
    /* width: 100px;
    height: 50px; */
    border-radius: 30px;
    /* border: 2px solid #0a5a90; */
    border: none;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
}

.dont-show{
    display:none
}